
@font-face {
    font-family: 'SignikaNegative';
    src: url('../assets/fonts/SignikaNegative-Regular.ttf');
}
@font-face {
    font-family: 'Binjay';
    src: url('../assets/fonts/Southmore.ttf');
}

:root{
    --primary:rgb(255, 153, 0);
    --secondary:rgb(22, 24, 32);
    --dark:rgb(56, 56, 56);
    --light_dark:rgb(63, 63, 63);
    --white:rgb(255, 255, 255);
}

body{ 
    scroll-behavior: smooth;
    color:var(--white);
    background-color: rgb(41, 41, 41);
    box-sizing: border-box;
}

h1,h2,h3,h4,h5{
    margin: 0;
    font-family: 'SignikaNegative';
}

img{
    width: 100%;
    height: 100%;
}

.row{
    margin: 0;
    padding: 0;
}

.elips-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.elips-text.l2 {
    -webkit-line-clamp: 2;
}
.elips-text.l3 {
    -webkit-line-clamp: 3;
}


//  start of globle style
.app-wraper{
    padding: .5rem;
    .app-sidebar{
        padding:0 2.5rem;
        flex-basis: 25%;
        background-color: var(--dark);
        .address-box{
            strong, span{
                text-align: left;
                flex:1;
            }
        }
        .app-sidebar-content{
            padding: 2rem 0;
            border-top: 4px solid var(--light_dark);
        }
        .lang-box{
            width:70px;
            height:70px;
            border:4px solid var(--primary);
        }
        .skill-box{
            margin-bottom: .6rem;
            span{
                margin-bottom: .3rem;
                display: block;
            }
            .skill-fill{
                height:6px;
                background-color: var(--primary);
            }
            .skill-fill.html{
                width:100%;
            }
            .skill-fill.css{
                width:100%;
            }
            .skill-fill.js{
                width:99%;
            }
            .skill-fill.react{
                width:97%;
            }
        }
        .social-media-wraper{
            .socail-media-box{
                font-size: 2rem;
            }
        }
    }
   
    .app-content{
        margin-left: 1rem;
        flex:1;
        min-height: calc(100vh - 4rem);
    }
}

.about-wraper{
    padding: 2rem 0;
    .sidebar-image{
        margin: 0 auto;
        width:150px;
        height:150px;
        border-radius: 50%;
        overflow: hidden;
        border:4px solid var(--primary);
    }
}

.section-wraper{
    margin-top: 2.5rem;
}
.heading-title{
    margin-bottom: 1rem;
}
.my-btn{
    padding:.3rem .5rem;
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: transparent;
    text-decoration: none;
}

.footer-wraper{
    padding: 1rem 0;
    color: var(--white);
    .testimonial-wraper{
        margin-bottom: 1rem;
        height: 200px;
        background-color: var(--dark);
    }
    .form-wraper{
        padding:2rem;
        background-image: linear-gradient(to right, rgba(56, 56, 56, 0.5), rgba(56, 56, 56, 0.474)), url('../assets/images/electricity-3442835__340.jpg');
        background-size: 100% 100%;
    }
    .form-body, .form-text{
        padding:2.5rem;
        flex:1;
        color: var(--white);
    }
    .form-body{
        background:rgba(0,0,0,0.7);
    }
    .input-wraper{
        margin-bottom: 1.5rem;
        border:1px solid var(--white);
        border-radius: 5px;
        overflow: hidden;
        input, textarea{
            padding: 0 .5rem;
            width:100%;
            border: none;
            background-color: transparent;
        }
        input{
            height: 3rem;
        }
        textarea{
            height: 6rem;
        }
    }
}

.sm-screen{
    display: none;
}
@media screen and (max-width:950px){
    h4{
        font-size: 1rem;
    }
    .lg-screen{
        display: none;
    }
    .sm-screen{
        display: block;
    }
    .app-wraper{
        padding: 0;
        width:100%;
        flex-direction: column;
        .app-sidebar{
            padding:0 2.5rem;
            flex-basis: 25%;
            background-color: var(--dark);
            .app-sidebar-header{
                padding: 2rem 0;
                .sidebar-image{
                    margin: 0 auto;
                    width:150px;
                    height:150px;
                    border-radius: 50%;
                    overflow: hidden;
                    border:4px solid var(--primary);
                }
            }
            .address-box{
                strong, span{
                    text-align: left;
                    flex:1;
                }
            }
            .app-sidebar-content{
                padding: 2rem 0;
                border-top: 4px solid var(--light_dark);
            }
            .lang-box{
                width:70px;
                height:70px;
                border:4px solid var(--primary);
            }
            .skill-box{
                margin-bottom: .6rem;
                span{
                    margin-bottom: .3rem;
                    display: block;
                }
                .skill-fill{
                    height:6px;
                    background-color: var(--primary);
                }
                .skill-fill.html{
                    width:100%;
                }
                .skill-fill.css{
                    width:100%;
                }
                .skill-fill.js{
                    width:99%;
                }
                .skill-fill.react{
                    width:97%;
                }
            }
            .social-media-wraper{
                .socail-media-box{
                    font-size: 2rem;
                }
            }
        }
        .app-content{
            margin: 0;
            flex:1;
            width:100%;
            min-height: calc(100vh - 4rem);
        }
    }
    .about-wraper{
        margin: .5rem;
        padding: 1rem;
        background-color: var(--light_dark);
        .sidebar-image{
            margin: 0 auto;
            width:150px;
            height:150px;
            border-radius: 50%;
            overflow: hidden;
            border:4px solid var(--primary);
        }
    }
    .section-wraper{
        padding: 1rem .5rem;
        margin: 1rem .5rem;
        background-color: var(--dark);
    }

    .footer-wraper{
        padding: 1rem 0;
        .form-wraper{
            padding:1rem;
            flex-direction: column;
        }
        .form-body, .form-text{
            padding:1rem;
        }
        .form-body{
            background:rgba(0,0,0,0.7);
        }
        .input-wraper{
            margin-bottom: 1.5rem;
            border:1px solid var(--white);
            border-radius: 5px;
            overflow: hidden;
            input, textarea{
                padding: 0 .5rem;
                width:100%;
                border: none;
                background-color: transparent;
            }
            input{
                height: 3rem;
            }
            textarea{
                height: 6rem;
            }
        }
    }
    
}